* {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;

}

/* might remove bg color depending on functionality */

body {
  background-color: #D1D2D4;
}

header {
  background-color: #404041;
  text-align: center;
  font-size: 36px;
  color: #DD1972;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*
Seems like this doesn't effect anything
input {
  display: block;
}
*/


.title-bold {
  font-weight: 700;
  color: #DD1972;
  background-color: #404041;
}


.sub-header {
  font-size: 18px;
  color: white;
}

 /* Trying to extend the dash in the subheader. Not working yet.

.dash {
  transform: scaleX(5);
}

*/


h2::before,
h2::after {
    display: inline-block;
    content: "";
    border-bottom: 1px solid white;
    width: 4rem;
    height: 1px;
    transform: translateY(-1rem);
}


.site-left {
  width: 50%;
  float: left;
  background-color: #F7F7F7;
}

.site-right {
  width: 50%;
  float: right;
  text-align: center;
  transition: 5s;
}



label {
  display: block;
  color: #404041;
  font-size: 20px;
  padding-top: 4px;
}

.textbox-long {
  height: 35px;
  border-width: 2px solid;
  width: 185%;
  font-size: 20px;
}

.textbox-short {
  width: 100%;
  height: 35px;
  border-width: 2px solid;
  font-size: 20px;
}

.text-input {
  padding-left: 10px;
  padding-right: 10px;
  width: 33%;
}

#box-top-left {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  align-items: flex-end;
}


#box-mid-left {padding: 10px;
  flex-direction: column;
}


#box-bottom-left {
  align-items: flex-end;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
}

.box {
  /*Constants*/
  background-color: #FFFFFF;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #DEDEDE;
  display: flex;
  /*Variants*/
}

/* .box-2 {

  background-color: #FFFFFF;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #DEDEDE;
  display: flex;
} */

/* .box-3 {
  background-color: #FFFFFF;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #DEDEDE;
  display: flex;
} */

#current-range {
  padding-bottom: 15px;
  font-size: 20px;
}

.player-input {
  padding-right: 10px;
  width: 33%;
}

.player-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

h3 {
  font-weight: 800;
  color: #404041;
  vertical-align: top;
  font-size: 22px;
}

h4 {
  font-weight: 800;
  color: #404041;
  font-size: 20px;
}

.bold-underline {
  font-weight: 800;
  text-decoration: underline;
}

.guessed-number {
  font-size: 80px;
  font-weight: 700;
  color: #F74D9B;
}

.guess-response {
  font-size: 24px;
}

.vertical-line {
  border-right: 2px solid #D1D2D4;
  height: 230px;
  display: inline-block;
}

.control-button-box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 10px;
}

/* .guess-box {
  height: 35px;
  width: 90%;
  border-width: 2px solid;
} */

.current-guess {
  font-size: 20px;
}


.darkbutton {
  background-color: #6E6E6E;
  color: #FFFFFF;
  border: none;
  padding: 4px 26px;
  font-weight: 800;
  border-radius: 90px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}


.lightbutton {
  background-color: #D1D2D4;
  color: #FFFFFF;
  border: none;
  padding: 4px 26px;
  font-weight: 800;
  border-radius: 90px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.guess {
  display: inline-block;
  text-align: center;
  align: center;
  width: 45%;
}

#latest-score {
  text-align: left;
  padding-bottom: 10px;
}

.right-boxes {
  background-color: #FFFFFF;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #DEDEDE;
  position: relative;
  top: 20000px;
  transition: 1s;
}

.results-box {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  color: #7C7C7C;
}

.horizontal-line {
  border-bottom: 2px solid #D1D2D4;
  height: 5px;
  width: 80%;
  display: block;
  margin: auto;
  color: #7C7C7C;
}

h5 {
  font-weight: 700;
  font-size: 36px;
  color: #7C7C7C;
  padding-top: 10px;
}

h6 {
  font-size: 36px;
  color: #7C7C7C;
}

#guess-amount {
  text-align: left;
  padding: 15px;
  padding-left: 30px;
  font-size: 20px;
}

strong {
  font-weight: 700;
}

#vs {
  padding-left: 10px;
  padding-right: 10px;
}
